body {
    margin: 0;
    padding: 0;
    background-color: black;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px;
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;
    z-index: 1000;
}

.logo {
    margin: 0;
}

.navbar.scrolled {
    background-color: black;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.logo {
    margin: 0;
    font-size: 90%;
    color: white;
}
.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.nav-links li {
    display: inline-block;
    margin-right: 20px;
}
.nav-links li a {
    font-size: 90%;
    text-decoration: none;
    color: white;
    transition: color 0.3s ease-in-out;
}
.nav-links li a:hover {
    color: #e50914;
}

.custom-carousel {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
}

.carousel-slide {
    /* flex: 1; */
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
}

.carousel-slide img {
    width: 100%;
    max-height: 100vh;
    height: auto;
    object-fit: cover;
    aspect-ratio: 16 / 9; 
}

.carousel-content {
    width: 30%;
    height: 60%;
    position: absolute;
    padding: 3%;
    text-align: start;
    color: white;
    gap: 5px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
}

.cc-desc {
    max-height: 55px;
    overflow: hidden;
    transition: max-height 0.3s ease;
    margin-bottom: 10px;
}

.carousel-content dl {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.carousel-content dl dt {
    font-size: 0.6em;
    color: #000000;
    background-color: #f0f0f0;
    padding: 5px 10px;
    border-radius: 5px;
}

.carousel-content h2 {
    font-size: 300%;
    margin-bottom: 20px;
}

.carousel-content p {
    font-size: 0.8em;
    margin-bottom: 30px;
}

.carousel-content button {
    padding: 10px 20px;
    font-size: 1.2em;
    background-color: #e50914;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.carousel-content button:hover {
    background-color: #ff0a16;
}

@media (max-width: 967px) {
    .cc-desc {
        max-height: 25%;
        margin-bottom: 2%;
    }
    
    .carousel-content dl {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
    }
    
    .carousel-content dl dt {
        font-size: 60%;
        color: #000000;
        background-color: #f0f0f0;
        padding: 2% 4%;
        border-radius: 2px;
    }
    
    .carousel-content h2 {
        font-size: 200%;
        margin-bottom: 2%;
    }
    
    .carousel-content button {
        padding: 3% 6%;
        font-size: 70%;
        background-color: #e50914;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
}

@media(max-width: 824px){
    .cc-desc {
        display: none;
    }
}

@media (max-width: 646px){
    .carousel-content dl dt {
        font-size: 50%;
        color: #000000;
        background-color: #f0f0f0;
        padding: 1.5% 2.5%;
        border-radius: 2px;
    }

    .carousel-content h2 {
        font-size: 200%;
        margin-bottom: 0;
    }

    .carousel-content button {
        padding: 3.5% 6.5%;
        font-size: 48%;
        background-color: #e50914;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
}

@media(max-width: 535px){
    .carousel-content h2 {
        font-size: 150%;
        margin-bottom: 0;
    }
}

@media(max-width: 415px){
    .carousel-content dl dt {
        font-size: 45%;
        padding: 1% 2%;
    }
    .carousel-content h2 {
        font-size: 120%;
        margin-bottom: 0;
    }
}

@media(max-width: 345px){
    .logo{
        font-size: 80%;
    }

    .nav-links a{
        font-size: 80%;
    }
    .carousel-content dl dt {
        font-size: 35%;
        padding: 0.5% 1%;
    }
    .carousel-content h2 {
        font-size: 100%;
        margin-bottom: 0;
    }

    .carousel-content button {
        padding: 3% 6%;
        font-size: 38%;
        border-radius: 2px;
    }
}

.container-card {
    /* width: 100%; */
    padding: 10%;
    /* display: flex;
    flex-direction: column; */
}

.series, .movies {
    overflow-x: auto;
    padding: 20px;
}

h2 {
    margin-top: 0;
}

/* Cards styles */
.cards {
    display: flex;
    gap: 20px;
    padding-bottom: 20px; /* Add some space for horizontal scrollbar */
}

.card {
    width: 200px;
    border-radius: 10px;
    overflow: hidden;
}

.card img {
    width: 100%;
    height: auto;
    display: block;
}

.card-body {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
}

.card-body h3 {
    margin: 0;
    font-size: 16px;
}

.card-body .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
}

.card-body:hover .info .episode {
    display: none;
}

.card-body:hover .info .rating {
    display: block;
}

.episode {
    position: absolute;
    bottom: 5px;
    left: 5px;
    font-size: 12px;
}

.rating {
    display: none;
    position: absolute;
    bottom: 5px;
    left: 5px;
    font-size: 12px;
    color: gold;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

footer {
    display: flex;
    justify-content: center;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.container-besar{
    padding: 0 8% 0 8%;
}

.body-container{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.movies-detail-section{
    width: 70%;
}

.trending-section{
    width: 30%;
    color: #ffffff;
}

.video-section {
    margin-top: 10%;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.video-section iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.video-wrapper {
    position: relative;
    padding-top: 56.25%;
}

h2{
    color: #ffffff;
}

.top-info, .synopsis, .details, .actresses {
    color: #ffffff;
    padding: 20px;
}

button {
    background-color: #e50914;
    color: white;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #ff0a16;
}

.top-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.top-info h2 {
    font-size: xx-large;
    margin: 0;
}

.top-info dl {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.top-info dl dt {
    font-size: smaller;
    color: #000000;
    background-color: #f0f0f0;
    padding: 5px 10px;
    border-radius: 5px;
}

.toggle-btn{
    margin-top: 10px;
    display: flex;
    justify-content: end;
}

/* .toggle-btn a {
    text-decoration: none;
}

.toggle-btn a:hover {
    color: skyblue
} */

.synopsis-content, .details-content {
    max-height: 55px;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.synopsis-content.show-all, .details-content.show-all {
    max-height: none;
    overflow: visible;
}

.circle-cards {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    /* justify-content: center;
    flex-wrap: wrap; */
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.circle-cards::-webkit-scrollbar {
    display: none;
}

.circle-card {
    width: 150px;
    margin: 10px;
    text-align: center;
    padding: 3px;
}

.circle-card img {
    width: 100%;
    border-radius: 50%;
}