body {
    margin: 0;
    padding: 0;
    background-color: black;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vw;
}

.navbar {
    background-color: transparent;
    transition: background-color 0.3s ease;
}

.navbar.scrolled {
    background-color: black;
}


.logoElement {
    display: flex;
    align-items: center;
}

.logo {
    margin: 0;
    font-size: 24px;
    color: white;
}
.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.nav-links li {
    display: inline-block;
    margin-right: 20px;
}
.nav-links li a {
    font-size: 24px;
    text-decoration: none;
    color: white;
    transition: color 0.3s ease-in-out;
}
.nav-links li a:hover {
    color: #e50914;
}

.custom-carousel {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
}

.carousel-slide {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
}

.carousel-slide img {
    width: 100%;
    max-height: 100vh;
    height: auto;
    object-fit: cover;
    aspect-ratio: 16 / 9; 
}

.carousel-content {
    width: 30%;
    height: 60%;
    position: absolute;
    padding: 3%;
    text-align: start;
    color: white;
    gap: 5px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
}

.cc-desc {
    max-height: 55px;
    overflow: hidden;
    transition: max-height 0.3s ease;
    margin-bottom: 10px;
}

.carousel-content dl {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin: 0;
}

#top{
    background-color: #162db0;
    color: #ffffff;
}

#original{
    background-color: #12086f;
    color: #ffffff;
}

.dt-span{
    padding: 0.3vw 0.6vw;
}

.carousel-content dl dt {
    font-size: 0.8em;
    color: #000000;
    background-color: #f0f0f0;
    padding: 5px 10px;
    border-radius: 5px;
}

.carousel-content h2 {
    font-family: 'Default_JP';
    font-size: 340%;
    margin-bottom: 20px;
}

.carousel-content p {
    font-size: 1em;
    margin-bottom: 30px;
}

.carousel-content button {
    padding: 10px 20px;
    font-size: 1.2em;
    background-color: #e50914;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.carousel-content button:hover {
    background-color: #ff0a16;
}

h2 {
    margin-top: 0;
}
/* ==================================================================================== */
/* .series {
    margin-top: 20px;
}

.series-row {
    display: flex;
    align-items: center;
} */

.arrow {
    cursor: pointer;
}

/* .cards {
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
} */

.jumbotron-carousel{
    position: relative;
}

.alternative-content{
    width: 100%;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    display: none;
    /* display: flex; */
    flex-direction: row;
    justify-content: center;
    align-items: start;
    /* padding: 0 10% 0 10%; */
    background-color: rgba(0, 0, 0, 0.3);
    padding: 20px;
    border-radius: 10px;
}

.poster-section{
    margin-top: -10%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0% 4% 4% 4%;
}

.movie-content{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    color: #ffffff;
    padding: 4%;
}

/* .card{
    position: relative;
    max-width: 100%;
    max-height: 100%;
    margin-right: 10px;
    border-radius: 15px;
    background-color: #ccc;
} */

/* .card-content {
    position: relative;
    flex: 0 0 auto;
    margin-right: 10px;
    scroll-snap-align: start;
    cursor: pointer;
    max-width: 218.5px;
    max-height: 291.33px;
    border-radius: 10px;
    overflow: hidden;
} */

/* .card p {
    margin-top: 5px;
    color: #ffffff;
    position: block;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 10px;
    box-sizing: border-box;
} */

.poster-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.movie-content dl {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin: 0;
}

.movie-content dl dt {
    font-size: 0.8em;
    color: #000000;
    background-color: #f0f0f0;
    padding: 5px 10px;
    border-radius: 5px;
}

.movie-content h3{
    font-size: 245%;
    margin: 0;
}

.movie-content .rating, .episode {
    margin-bottom: 10px;
}

.movie-content .episode{
    margin-top: 10px;
}

/* .card-body {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 2%;
    color: white;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; 
}

.card:hover .card-body {
    visibility: visible;
    opacity: 1;
} */

.episode, .rating {
    font-size: 80%;
}

.rating {
display: inline-block;
}

.rating::before {
content: '★★★★★';
letter-spacing: 3px;
color: gold;
}

.rating[data-rating^="0.1"]::before { content: '★☆☆☆☆'; }
.rating[data-rating^="0.2"]::before { content: '★★☆☆☆'; }
.rating[data-rating^="0.3"]::before { content: '★★★☆☆'; }
.rating[data-rating^="0.4"]::before { content: '★★★★☆'; }
.rating[data-rating^="0.5"]::before { content: '★★★★★'; }
.rating[data-rating^="0.6"]::before { content: '★★★★★'; }
.rating[data-rating^="0.7"]::before { content: '★★★★★'; }
.rating[data-rating^="0.8"]::before { content: '★★★★★'; }
.rating[data-rating^="0.9"]::before { content: '★★★★★'; }
.rating[data-rating^="1.0"]::before { content: '★★★★★'; }
.rating[data-rating^="1.1"]::before { content: '★★★★★'; }
.rating[data-rating^="1.2"]::before { content: '★★★★★'; }
.rating[data-rating^="1.3"]::before { content: '★★★★★'; }
.rating[data-rating^="1.4"]::before { content: '★★★★★'; }
.rating[data-rating^="1.5"]::before { content: '★★★★★'; }
.rating[data-rating^="1.6"]::before { content: '★★★★★'; }
.rating[data-rating^="1.7"]::before { content: '★★★★★'; }
.rating[data-rating^="1.8"]::before { content: '★★★★★'; }
.rating[data-rating^="1.9"]::before { content: '★★★★★'; }
.rating[data-rating^="2.0"]::before { content: '★★★★★'; }
.rating[data-rating^="2.1"]::before { content: '★★★★★'; }
.rating[data-rating^="2.2"]::before { content: '★★★★★'; }
.rating[data-rating^="2.3"]::before { content: '★★★★★'; }
.rating[data-rating^="2.4"]::before { content: '★★★★★'; }
.rating[data-rating^="2.5"]::before { content: '★★★★★'; }
.rating[data-rating^="2.6"]::before { content: '★★★★★'; }
.rating[data-rating^="2.7"]::before { content: '★★★★★'; }
.rating[data-rating^="2.8"]::before { content: '★★★★★'; }
.rating[data-rating^="2.9"]::before { content: '★★★★★'; }
.rating[data-rating^="3.0"]::before { content: '★★★★★'; }
.rating[data-rating^="3.1"]::before { content: '★★★★★'; }
.rating[data-rating^="3.2"]::before { content: '★★★★★'; }
.rating[data-rating^="3.3"]::before { content: '★★★★★'; }
.rating[data-rating^="3.4"]::before { content: '★★★★★'; }
.rating[data-rating^="3.5"]::before { content: '★★★★★'; }
.rating[data-rating^="3.6"]::before { content: '★★★★★'; }
.rating[data-rating^="3.7"]::before { content: '★★★★★'; }
.rating[data-rating^="3.8"]::before { content: '★★★★★'; }
.rating[data-rating^="3.9"]::before { content: '★★★★★'; }
.rating[data-rating^="4.0"]::before { content: '★★★★★'; }
.rating[data-rating^="4.1"]::before { content: '★★★★★'; }
.rating[data-rating^="4.2"]::before { content: '★★★★★'; }
.rating[data-rating^="4.3"]::before { content: '★★★★★'; }
.rating[data-rating^="4.4"]::before { content: '★★★★★'; }
.rating[data-rating^="4.5"]::before { content: '★★★★★'; }
.rating[data-rating^="4.6"]::before { content: '★★★★★'; }
.rating[data-rating^="4.7"]::before { content: '★★★★★'; }
.rating[data-rating^="4.8"]::before { content: '★★★★★'; }
.rating[data-rating^="4.9"]::before { content: '★★★★★'; }
.rating[data-rating^="5.0"]::before { content: '★★★★★'; }  
/* ============================================================== */

footer {
    display: flex;
    justify-content: center;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.containerfoot {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.right-foot{
    /* width: 80%; */
    width: 100%;
}

.logo{
    width: 20%;
}

.logo img {
    max-width: 100px;
}

.legal {
    margin-top: 5%;
    font-size: 14px;
}

.legal a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
}

.container-besar{
    padding: 0 8% 0 8%;
}

.body-container{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.movies-detail-section{
    width: 70%;
}

.trending-section{
    width: 30%;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 1vw;
}

.trending-section h2{
    margin-top: 10px;
    font-size: 2.3vw;
}

.trending-list {
    list-style: none; 
    padding-left: 0; 
}

.trending-list li {
    position: relative;
    width: 100%;
    margin-bottom: 5px;
    padding: 10px;
}

.trending-list li::before {
    content: counter(listItem);
    counter-increment: listItem;
    display: inline-block;
    width: 2vw;
    height: 2vw;
    line-height: 2vw;
    text-align: center;
    margin-right: 10px;
    border-radius: 20%;
}

.trending-list li:nth-child(-n+3)::before {
    background-color: #ffcc00;
}

.trending-list {
    counter-reset: listItem;
}

.poster-card {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 150px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 100;
}

.trending-list li:hover .poster-card {
    display: block;
}

.poster-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video-section {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.video-section iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.video-wrapper {
    position: relative;
    padding-top: 56.25%;
}

h2{
    color: #ffffff;
}

.top-info, .synopsis, .details, .actresses {
    color: #ffffff;
    padding: 20px;
}

.button-show {
    background-color: #e50914;
    color: white;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    cursor: pointer;
}

.button-show:hover {
    background-color: #ff0a16;
}

.top-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.top-info h2 {
    font-family: 'Default_JP';
    font-size: xx-large;
    margin: 0;
}

.top-info dl {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 0.5vw;
    margin-bottom: 0;
}

.top-info dl dt {
    font-size: smaller;
    color: #000000;
    background-color: rgba(240, 240, 240, 0.4);
    color: white;
    padding: 0.3vw 0.6vw;
    border-radius: 5px;
}

.toggle-btn{
    margin-top: 10px;
    display: flex;
    justify-content: end;
}

.synopsis-content{
    max-height: 55px;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.carousel-inner {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    padding: 6%;
}

.carousel-item {
    width: 100%;
    flex: 0 0 auto;
}

.details-content {
    height: 400px;
    overflow: hidden;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.details-content h3 {
    margin-bottom: 10px;
}

.metadata,
.other-details {
    margin-bottom: 10px;
}

dt {
    font-weight: bold;
    margin-bottom: 5px;
}

dl{
    margin-left: 20px;
}

dd {
    margin-left: 20px;
}


/* .pair {
    margin-bottom: 5px;
} */

.carousel-control-prev,
.carousel-control-next {
    width: auto;
    background: none;
    border: none;
    font-size: 1.5rem;
    color: #000;
    padding: 0 10px;
}

.carousel-indicators li {
    background-color: #ccc;
}
.carousel-indicators .active {
    background-color: #333;
}

/* .metadata,
.other-details {
    flex: 1;
    margin-right: 20px;
} */

/* .pairs, .pair {
    margin-bottom: 10px;
}

.pair dt {
    font-weight: bold;
} */

.synopsis-content.show-all, .details-content.show-all {
    max-height: none;
    overflow: visible;
}

.actress-row{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.arrow {
    width: 10px;
    /* position: absolute; */
    /* top: 50%; */
    /* transform: translateY(-50%); */
    padding: 0.5vw;
    font-size: 24px;
    color: #ffffff;
    cursor: pointer;
    display: none;
}

/* .actresses .left-arrow {
    left: 10px;
}

.actresses .right-arrow {
    right: 10px;
} */

.circle-cards {
    width: 100%;
    min-height: 200px;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.circle-cards::-webkit-scrollbar {
    display: none;
}

.circle-card {
    width: 150px;
    height: 150px;
    aspect-ratio: 1;
    margin: 10px;
    text-align: center;
    border-radius: 50%; 
}

.circle-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

#goToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    font-size: 18px;
    background-color: #ff0a16;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: opacity 0.3s ease;
    text-align: center;
    padding: 0;
}

#goToTopBtn i{
    margin-left: -2px;
    top: 0;
    /* text-align: center; */
}
  
#goToTopBtn:hover {
opacity:     0.7;
}  

@media screen and (max-width: 970px) {
    .carousel-content {
        display: none;
    }
    .alternative-content {
        display: flex;
    }
}

@media (max-width: 967px) {
    .cc-desc {
        max-height: 25%;
        margin-bottom: 2%;
    }
    
    .movie-content dl {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
    }
    
    .movie-content dl dt {
        font-size: 60%;
        color: #000000;
        background-color: #f0f0f0;
        padding: 2% 4%;
        border-radius: 2px;
    }
    
    .movie-content h2 {
        font-size: 200%;
        margin-bottom: 2%;
    }
    
    .movie-content button {
        padding: 3% 6%;
        font-size: 70%;
        background-color: #e50914;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
}

@media(max-width: 824px){
    /* .cc-desc {
        display: none;
    } */

    .trending-section{
        display: none;
    }

    .movies-detail-section{
        width: 100%;
    }

    .logo{
        font-size: 20px;
    }

    .nav-links li a{
        font-size: 20px;
    }
}

@media (max-width: 646px){
    .movie-content dl dt {
        font-size: 50%;
        color: #000000;
        background-color: #f0f0f0;
        padding: 1.5% 2.5%;
        border-radius: 2px;
    }

    .movie-content h2 {
        font-size: 200%;
        margin-bottom: 0;
    }

    .movie-content button {
        padding: 3.5% 6.5%;
        font-size: 48%;
        background-color: #e50914;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
}

@media(max-width: 535px){
    .movie-content h2 {
        font-size: 150%;
        margin-bottom: 0;
    }
}

@media(max-width: 415px){
    .movie-content dl dt {
        font-size: 45%;
        padding: 1% 2%;
    }
    .movie-content h2 {
        font-size: 120%;
        margin-bottom: 0;
    }
    .logo{
        font-size: 16px;
    }

    .nav-links li a{
        font-size: 16px;
    }
}

@media(max-width: 345px){
    .movie-content dl dt {
        font-size: 35%;
        padding: 0.5% 1%;
    }
    .movie-content h2 {
        font-size: 100%;
        margin-bottom: 0;
    }

    .movie-content button {
        padding: 3% 6%;
        font-size: 38%;
        border-radius: 2px;
    }
}